#bolillero {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 80px;
    height: 80px;
    background-color: #ccc;
    color: #fff;
    text-align: center;
    line-height: 80px;
    margin: 5px;
    border-radius: 5px;
    border: black;
    border-width: 5px;
    flex: 0 0 10%;
}

.extraccion {
    background-color: #28a745;
}
